.venv/
.env
Code/__pycache__/*
Code/checkpoints/*
*.pyc
checkpoints/*
mlruns/*
Model/*
saved/*
*.nii.gz
*.npy
*.png
*.zip
totalsegmentator_weights/*
.claude/._settings.local.json
._.claude
*._*.py
.___pycache__
