.venv/
.env
Code/__pycache__/*
Code/checkpoints/*
*.pyc
checkpoints/*
mlruns/*
Model/*
saved/*
*.nii.gz
*.npy
# *.png
*.zip
totalsegmentator_weights/*
.claude/._settings.local.json
._.claude
*._*.py
.___pycache__
stump-rib/ribseg_model_weights/*
._segment_ribs_sbatch.sh
wandb/*
*.model
*.pkl
Code/.fuse_hidden000000b700000002
._*.bib
._*.sh
submission_results/niftyreg/logs/*
